<h1>Edit <%= char['name']%></h1>

<form action="/characters/<%= char['id'] %>" method="POST">
    <input type="hidden" name="_method" value="put">

    <label for="">Quote: </label>
    <input type="text" name="quote" value="<%= char['quote'] %>">

    <label for="">Image URL: </label>
    <input type="text" name="image_url" value="<%= char['image_url'] %>">
    
    <input type="hidden" name="name" value="<%= char['name'] %>">
    <button>Update char</button>
</form>