<h1>myFantasy Heart</h1>

<% if logged_in? %>
    <h2>Heart Away~  <%= current_user['first_name'] %></h2>

    <section class="controls">
        <form action="/sessions" method="POST">
        <input type="hidden" name="_method" value="delete">

        <button>Logout</button>
        </form>

        <a href="/chars/new">Add character</a>
    </section>

    <section class="chars">
        <% chars.each do |char| %>
            <section class="char">
                <header>
                    <h2><%= char['name'] %></h2>

                    <section class="controls">
                        <a href="/chars/<%= char['id'] %>/edit">Edit</a>

                        <form action="" method="">
                            <button>Next</button>
                        </form>

                        <form action="" method="">
                            <button>Previous</button>
                        </form>

                        <form action="/chars/<%= char['id'] %>/hearts" method="POST">
                            <button class='heart-btn'>Heart</button>
                        </form>
                    </section>
                </header>

                <img src="<%= char['image_url'] %>" alt="">
                <p><%= char['quote'] %></p>
            </section>
        <% end %>
    </section>

<% else %>
    <header>
        <a href="/users/new">Sign up</a>
        <a href="/sessions/new">Login</a>
    </header>
<% end %>